* {
    border-radius: 10px;
    color: #fff;
}

body {
    background-color: #000;
}

#draggable-elements, #droppable-areas {
    margin: 0 auto;
}

#draggable-elements {
    border: 5px solid rgb(17, 19, 173);
    padding: 25px;
}

.draggable-element {
    width: 50px;
    height: 50px;
    background-color: rgb(17, 19, 173);
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

#droppable-areas {
    border: 5px solid rgb(17, 19, 173);
}

.drop-area {
    height: 70px;
    border: 5px solid rgb(17, 19, 173);
}

p {
    font-weight: bold;
    font-size: 20px;
}

/* codes for responsiveness start */
@media only screen and (max-width: 576px) {
    #draggable-elements {
        padding: 15px;
    }
    
    .draggable-element {
        width: 40px;
        height: 40px;
        margin: 5px;
        font-size: 15px;
    }
    
    .drop-area {
        height: 60px;
    }

    p {
        font-size: 16px;
    }
}